.container {
  display: flex;
  gap: 20px;
  background-color: white;
  padding: 50px;
}

.block {
  background-color: #333;
}

.e-letter,
.l-letter {
  display: grid;
  grid-template-columns: 50px 100px 50px;
  grid-template-rows: 50px 100px 50px 100px 50px;
  width: 200px;
  height: 350px;
  position: relative;
}

.e-letter {
  .full-row {
    grid-column: 1 / 4;
    grid-row: 1;
  }

  .vertical {
    grid-column: 1;
    grid-row: 1 / 6;
  }

  .middle-row {
    grid-column: 1 / 4;
    grid-row: 3;
  }

  .bottom-row {
    grid-column: 1 / 4;
    grid-row: 5;
  }

  .orange-box {
    grid-column: 3;
    grid-row: 1;
    animation: move-in-e 3s ease-in-out 0s 1 normal forwards;
  }
}

.l-letter {
  .vertical {
    grid-column: 1;
    grid-row: 1 / 6;
  }

  .bottom-row {
    grid-column: 1 / 4;
    grid-row: 5;
  }

  .orange-box {
    grid-column: 3;
    grid-row: 5;
    opacity: 0;
    animation: move-in-l 2s ease-in-out 4s 1 normal forwards;
  }
}

.orange-box {
  background-color: orange;
  width: 30px;
  height: 30px;
  justify-self: center;
  align-self: center;
}

@keyframes move-in-e {
  0% {
    transform: translateX(0);
  }

  10% {
    transform: translateX(calc(-200px + 50px));
  }

  25% {
    transform: translateX(calc(-200px + 50px)) translateY(calc(200px - 50px));
  }

  35% {
    transform: translateX(0) translateY(calc(200px - 50px));
  }

  45% {
    transform: translateX(calc(-200px + 50px)) translateY(calc(200px - 50px));
  }

  60% {
    transform: translateX(calc(-200px + 50px)) translateY(calc(350px - 50px));
  }

  70% {
    transform: translateX(0) translateY(calc(350px - 50px));
  }

  75% {
    transform: translateX(calc(-200px + 50px)) translateY(calc(350px - 50px));
  }

  87% {
    transform: translateX(calc(-200px + 50px)) translateY(0);
  }

  100% {
    transform: translateX(0) translateY(0);
  }
}

@keyframes move-in-l {
  0% {
    transform: translateX(0);
    opacity: 1;
  }

  30% {
    transform: translateX(calc(-200px + 50px));
  }

  70% {
    transform: translateX(calc(-200px + 50px)) translateY(calc(-350px + 50px));
    opacity: 1;
  }

  100% {
    transform: translateX(calc(-200px + 50px)) translateY(calc(-350px + 50px));
    opacity: 0;
  }
}