* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  h3 {
    font-size: 16px;
    font-weight: normal;
  }
}

.task1 {
  div.main.red {
    color: red;
  }
}

.task2 {
  .parent div:nth-child(2) {
    color: red;
  }
}

.task3 {
  .parent:nth-child(2) {
    color: red;
  }

  div:nth-of-type(2) div[class="baby"] {
    color: blue;
    font-weight: bold;
  }
}

.task4 {
  div[title]:not(.no-need, .parent div) {
    color: red;
  }

  div[title]:nth-last-of-type(n+4) {
    color: blue !important;
    font-weight: bold;
  }
}

.task5 {
  div:nth-child(2) div[title="Elzero"] {
    color: red;
  }

  div:nth-of-type(2)>div[title] {
    color: blue;
    font-weight: bold;
  }
}

.task6 {
  div:not([class="no-need"]) div:nth-last-of-type(2) {
    color: red;
  }

  div:nth-last-of-type(n+2)>div:nth-last-of-type(2) {
    color: blue;
    font-weight: bold;
  }
}

.task7 {
  div:not([class*="no-need"]) h3+div:nth-last-of-type(2) {
    color: red;
  }

  div:nth-of-type(1)>div:nth-last-of-type(2) {
    color: blue !important;
    font-weight: bold;
  }
}

.task8 {
  div *:not(div:last-child, div:first-child, h3) {
    color: red;
  }
}