* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.task1 {
  .grid {
    background-color: #ddd;
    padding: 20px;
    width: 800px;
    height: 400px;
    display: grid;
    grid: 45px auto / repeat(3, 1fr);
    margin: 20px auto;
    gap: 20px;

    div {
      background-color: rgba(79, 121, 138, 0.815);
      counter-increment: count-name;
      display: grid;
      justify-content: center;
      align-content: center;

      &::before {
        content: "Element " counter(count-name);
        color: white;
        font: bold 20px Arial, sans-serif;
      }
    }
  }
}

.task2 {
  .grid {
    background-color: #ddd;
    padding: 20px;
    width: 800px;
    height: 400px;
    display: grid;
    grid: 1fr auto / auto repeat(2, 1fr) auto;
    margin: 20px auto;
    gap: 20px;

    div {
      background-color: rgba(30, 44, 49, 0.815);
      counter-increment: count-name;
      display: grid;
      justify-content: center;
      align-content: center;
      color: white;
      font: bold 20px Arial, sans-serif;
    }
  }
}

.task3 {
  .grid {
    background-color: #ddd;
    padding: 20px;
    width: 800px;
    height: 400px;
    display: grid;
    grid: repeat(2, auto) / repeat(2, auto);
    margin: 20px auto;
    gap: 20px;
    align-content: space-between;

    div {
      background-color: rgba(182, 34, 125, 0.815);
      display: grid;
      justify-content: center;
      font: bold 20px Arial;
      color: white;
    }
  }
}

.task4 {
  .grid {
    background-color: #ddd;
    padding: 20px;
    width: 800px;
    height: 400px;
    display: grid;
    grid: repeat(6, auto) / repeat(3, auto);
    margin: 20px auto;
    gap: 20px;

    div {
      background-color: rgba(21, 155, 233, 0.979);
      display: grid;
      justify-content: center;
      align-items: center;
      font: bold 20px Arial;
      color: white;
    }

    /* 
    .one {
      grid-area: 6 / 1 / 6 / 4;
    }

    .two {
      grid-area: 2 / 1 / 2 / 3;
    }

    .three {
      grid-area: 2 / 3 / 2 / 4;
    }

    .four {
      grid-area: 3 / 1 / 3 / 2;
    }

    .five {
      grid-area: 3 / 2 / 6 / 4;
    }

    .six {
      grid-area: 4 / 1 / 4 / 2;
    }

    .seven {
      grid-area: 5 / 1 / 5 / 2;
    }

    .eight {
      grid-area: 1 / 1 / 1 / 4;
    } */

    .one {
      order: 8;
      grid-column-start: span 3;
    }

    .two {
      grid-column: span 2;
    }

    .five {
      grid-column: span 2;
      grid-row: span 3;
    }

    .eight {
      order: -1;
      grid-column: span 3;
    }
  }
}

.task5 {
  .layout {
    width: 100vw;
    height: 100vh;
    display: grid;
    grid: 10% auto 10% / repeat(12, auto);


    header {
      grid-column-start: span 12;
      background-color: #03A9F4;
    }

    section {
      grid-column-start: span 10;
      background-color: #FF5722;
    }

    aside {
      grid-column-start: span 2;
      background-color: #607D8B;
    }

    footer {
      grid-column-start: span 12;
      background-color: #009688;
    }
  }

  header::before,
  section::before,
  footer::before,
  aside::before,
  section::before {
    font: 1.2em Arial;
    display: block;
    padding: 20px;
    color: white
  }

  footer::before {
    content: "Footer";
  }

  aside::before {
    content: "Aside";
  }

  header::before {
    content: "Header";
  }

  section::before {
    content: "Section";
  }
}