* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.task1 {
  div {
    display: inline-block;
    background-color: lightgray;
    width: 120px;
    margin: 10px;
    text-align: center;
    padding: 20px 0;
    outline: 5px solid black;
    font-family: sans-serif;
  }

  .shape1 {
    border: 5px solid red;
  }

  .shape2 {
    border: 5px solid;
    border-color: blue green;
  }

  .shape3 {
    border: 5px dashed;
    border-color: red green blue yellow;
  }
}

.task2 {
  .box {
    background-color: #a52a2a;
    color: white;
    width: fit-content;
    max-width: 400px;
    padding: 15px;
    max-height: 70px;
    margin: 20px;
    font-size: large;
  }
}