.task1 {
  div {
    width: 500px;
    margin: 20px auto;
    padding: 20px;
    background-color: blueviolet;
    background-color: #8a2be2;
    background-color: hsl(271, 76%, 53%);
    background-color: rgb(138, 44, 226);
    font-family: sans-serif;
    color: white;
  }

  .assign-1-shape-1 {
    background-color: rgb(138 44 226 / 100%);
  }

  .assign-1-shape-2 {
    background-color: rgb(138 44 226 / 50%);
  }

  .assign-1-shape-3 {
    background-color: rgb(138 44 226 / 10%);
  }
}

.task2 {
  div {
    width: 400px;
    height: 400px;
    background-color: rgb(240, 234, 232);
    display: inline-block;
    margin: 20px;
    background-image: url("css-assignment-5-8.png");
    color: white;
    background-size: 80%;
  }

  .assign-2-shape-1 {
    background-repeat: no-repeat;
  }

  .assign-2-shape-2 {
    background-repeat: repeat-y;
    background-position: right bottom;
  }

  .assign-2-shape-3 {
    background-repeat: repeat-x;
    background-position: center bottom;
  }

  .assign-2-shape-4 {
    background-repeat: no-repeat;
    background-position: right bottom;
    background-size: 50%;
  }
}