* { 
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.parent {
  width: 800px;
  margin: 100px auto;
  text-align: center;
  background: #eee;
  overflow: hidden;
}

p {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #ddd;
  padding: 20px;
  margin: 15px 0 0 15px;
  /* float: left; */
  font-weight: bold;
}

.row1 p {
  width: calc(100% - 30px);
}

.row2 p {
  width: calc((100% - 60px) / 3);
}

.row3 p {
  width: calc((100% - 45px) / 2);
}

.row4 p {
  width: calc((100% - 75px) / 4);
  margin-bottom: 15px;
}

.clear {
  clear: both;
}

.number-counter {
  margin: 20px auto;
  width: 400px;

  p {
    font-weight: normal;
    border-right: 4px solid rgb(184, 54, 54);
    counter-increment: name;
    position: relative;
    padding-left: 30px;

    &:before {
      content: counter(name);
      background-color: rgb(184, 54, 54);
      color: white;
      width: 50px;
      height: 100%;
      line-height: 60px;
      text-align: center;
      position: absolute;
      top: 0;
      left: -25px;
    }
  }
}