div {
  width: 100vw;
  /* height: 197vh; */
  /* background-color: red;
  background-image: url("TOM.png");
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: right top; */
  /* background-size: contain; */
  /* background-size: cover; */
}

.lorem {
  background-color: blue;
  font-size: 20px;
  color: red;
  height: 100px;
  padding: 20px;
  border: 5px solid black;
  border-radius: 16px;

  /* overflow: visible; */
  overflow: hidden;
  /* overflow: scroll; */
  /* overflow-x: hidden; */
  /* overflow-y: hidden; */

  white-space: nowrap;
  /* word-break: break-all; */

  /* Make Some Dots For A Long Words */
  text-overflow: ellipsis;

  cursor: pointer;
}

.name {
  background-color: green;
  padding: 20px;
  height: 120px;
  font-size: 30px;

  text-align: center;
  /* direction: ltr; */

  vertical-align: bottom;
  /* text-decoration: dotted; */
  text-transform: uppercase;

  letter-spacing: -1px;
  /* word-spacing: -2px; */

  line-height: 1.6;

  cursor: grab;
  /* opacity: 0.5; */
}

/*
04 - 100%
10 - 100%
12 - 100%
17 - 100%
18 - 100%
19 - 100%
22 - 100%
24 - 100%
25 - 100%
26 - 100%
27 - IMPORTANT - 100%
30 - IMPORTANT - 100%
31 - 100%
34 - 100%
35 - 100%
36 - 100%
37 - 100%
41 - 100%
42 - IMPORTANT - 90% -> ease, ease-in, ease-out, ease-in-out.
44 - 100%
*/

/* Flex Box */

/*
    Flexible Box
        For Parent
            - display: flex => To Start Flexible Box
            - display: inline-flex => To Start Flexible Box As Inline
            - flex-direction: row => Default Value
            - flex-wrap: nowrap => Default Value
                - nowrap => Default Value
                - wrap
                - wrap-reverse !IMPORTANT
            - flex-flow: [Flex-Direction] + [Flex-Wrap]
            - Justify-Content: [Flex-Items Horizontal Alignment]
                - flex-start => Default Value
                - flex-end
                - center
                - space-between
                - space-around
                - space-evenly
            - align-items: [Flex-Items Vertical Alignment]
                - flex-start
                - flex-end
                - center
                - baseline
                - stretch => Default Value
            - align-content: [Flex-Lines Vertical Alignment]
                - flex-start
                - flex-end
                - center
                - space-between
                - space-around
                - space-evenly
                - stretch => Default Value

        For Child
            - flex-grow: [Number] => Default Value Is 0
            - flex-shrink: [Number] => Default Value Is 1
            - order: [Number] => Default Value Is 0
            - flex-basis: [Length | auto] => Default Value Is auto
            - flex: [flex-grow] [flex-shrink] [flex-basis]
                - flex: 0 1 auto => Default Value
            - align-self: [auto | flex-start | flex-end | center | baseline | stretch]
                - auto => Default Value    
*/

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
body {
    direction: ltr;
}
/* .flex {
    background-color: #eee;
    width: 600px;
    padding: 20px;
    margin: 20px auto;
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    flex-flow: row wrap;
    justify-content: space-between;
}
.flex div {
    background-color: #f00;
    color: white;
    width: calc(94% / 5);
    text-align: center;
    padding: 20px;
    min-width: 100px;
} */
.flex {
    background-color: #eee;
    width: 800px;
    padding: 20px;
    margin: 20px auto;
    display: flex;
}
.flex div {
    background-color: #f00;
    color: white;
    width: 80px;
    text-align: center;
    padding: 20px;
    margin-right: 5px;
    flex-grow: 1;
}
.float {
    overflow: hidden;
    background-color: #eee;
    width: 600px;
    padding: 20px;
    margin: 20px auto;
}
.float div {
    background-color: #f00;
    float: left;
    color: white;
    width: calc(94% / 3);
    text-align: center;
    padding: 20px;
    margin-left: 1%;
    margin-right: 1%;
}

/* Linear Gradient */
.box {
    background: linear-gradient(to bottom right, red, yellow, green, blue);
    width: 150px;
    height: 150px;
    margin: 10px;
}

/* Grid */
/* 
    Grid
        Parent
            - display: grid | inline-grid
            - grid-template-columns: [Number Of Columns In] => [Px, %, Auto, Repeat, Friactional Unit, Mixed]
            - grid-template-rows: [Number Of Rows In] => [Px, %, Auto, Repeat, Friactional Unit, Mixed]
            - grid-template: [Rows] / [Columns]
            - gap: [Row Gap] [Column Gap]
            - justify-content
                - start
                - end
                - center
                - stretch => Default Value
            - align-content
                - start
                - end
                - center
                - stretch => Default Value
            - grid-template-areas
                - "header header header header"
                - "nav content . side"
                - "footer footer footer footer"
        Child
            - grid-area: [Area Name]
            - grid-area: [Grid-Row-Start] / [Grid-Column-Start] / [Grid-Row-End] / [Grid-Column-End]
            - grid-column: [Start Line] / [End Line]
            - grid-row: [Start Line] / [End Line]
            - minmax
                - grid-template-columns: repeat( auto-fill | auto-fit , minmax(100px, 1fr) )
                    - auto-fill => Fill The Row With As Many As Possible
                    - auto-fit => Fit The Row With As Many As Possible   
                    - ch => Width Of The "0" Character 
*/

.grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 100px);
    gap: 10px;
    background-color: #eee;
    width: 600px;
    padding: 20px;
    margin: 20px auto;
}

.parent {
    margin: 20px auto;
    width: 800px;
    height: 500px;
    background-color: #ddd;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 5px;
    padding: 5px;
}
.parent div {
    background-color: red;
    color: white;
    padding: 20px;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
}

/* Selectors */
/* 
  CSS Selectors
      - Element => [p, div, h2]
      - Element OtherElement => div p
      - .class-name
      - #id-name
      - .parent .child
      - .class-one.class-two
      - .class-name div, .class-name p
      - Element.class-name => p.class-name
      - .parent > .child => Direct Child !IMPORTANT
      - Element + Other Element => [div + p]
      - Element ~ Other Elements => [p ~ div]
      - [Attribute]
      - Element[Attribute]
      - [Attribute=Value]
      - Element[Attribute=Value] => input[type="submit"]
      - [Attribute~=Value] => Contains A Word
      - [Attribute*=Value] => Contains A String
      - [Attribute^=Value] => Start With A String
      - :first-child
      - :last-child
      - :first-of-type
      - :last-of-type
      - :only-child
      - :not(Selectors)
      - :nth-child(n)
      - :nth-last-child(n)
      - :nth-of-type(n)
      - :nth-last-of-type(n)
          - n => Exact Number => (1, 2, 3, 4, ...)
          - n => odd | even
          - n => An + B => (2n + 1) , (3n + 2)
          - n => -n + 9 => ( -1n + 9 ) , ( -2n + 10 )
              - nthmaster.com
      - :root
      - :checked
      - :empty
      - :disabled
      - :required
      - :focus
      - ::selection
      - ::placeholder
*/

/* Media Query */
/* 
  css-tricks.com/snippets/css/media-queries-for-standard-devices/
*/

@media (max-width: 600px) {
  body {
    background-color: lightblue;
  }
}

/*
    87 - 70% => https://www.youtube.com/watch?v=iueBHixQyX0&list=PLDoPjvoNmBAzjsz06gkzlSrlev53MGIKe&index=87
    CSS Global Values
        - inherit
        - initial
        - unset
        --- If Inherit => inherit
        --- If Not => initial
        - revert CSS Level [4]
        - all
*/
body {
  color: inherit;
  font-size: initial;
  margin: unset;
  border: revert;
}

/* 
    88 => https://www.youtube.com/watch?v=YKUkssSbVls&list=PLDoPjvoNmBAzjsz06gkzlSrlev53MGIKe&index=88
    Frontend Mentor & Elzero Web School & Codepen & CSS Battle. 
*/

/* 2D Transform */
/* 
    transform: 
        - translate(X, Y) => Move Element From His Position
        - translateX(Value)
        - translateY(Value)
        - rotate(Angle) => Rotate Element Around Himself
        - scale(X, Y) => Scale Element Size
        - scaleX(X)
        - scaleY(Y)
        - skew(X-Angle, Y-Angle) => Skew Element
        - skewX(X-Angle)
        - skewY(Y-Angle)
        - matrix( a, b, c, d, e, f ) => Combine All Transform Functions In One Function
            - a => scaleX
            - b => skewY
            - c => skewX
            - d => scaleY
            - e => translateX
            - f => translateY
        - transform-origin: [X-Position] [Y-Position] => Change The Point That The Transform Will Be Applied On It
            - X-Position
                - left
                - center
                - right
                - Percentage
                - Pixels
            - Y-Position
                - top
                - center
                - bottom
                - Percentage
                - Pixels
*/

/* 3D Transform */
/* 
    transform: 
        - translate3d(X, Y, Z)
        - translateZ(Z)
        - rotate3d(X-Axis, Y-Axis, Z-Axis, Angle)
        - rotateX(Angle)
        - rotateY(Angle)
        - perspective(Value) => Give A 3D Perspective To An Element
            perspective: Value => Give A 3D Perspective To All Child Elements
        - transform-style: 
            - flat => Default Value
            - preserve-3d
        - backface-visibility:
            - visible => Default Value
            - hidden
        - perspective-origin: [X-Position] [Y-Position]
            - X-Position
                - left
                - center
                - right
                - Percentage
                - Pixels
            - Y-Position
                - top
                - center
                - bottom
                - Percentage
                - Pixels
*/

/* 
  Aminated Transformations
      - transition: [Property] [Duration] [Timing Function] [Delay]
          - Property: all | specific property
          - Duration: time in seconds | milliseconds
          - Timing Function:
              - ease => Default Value
              - linear
              - ease-in
              - ease-out
              - ease-in-out
              - cubic-bezier(n, n, n, n)
          - Delay: time in seconds | milliseconds
      - transition-property
      - transition-duration
      - transition-timing-function
      - transition-delay
*/

/* Animations */

  @keyframes Animation-Name {
      0% {
          /* Initial State */
      }
      50% {
          /* Middle State */
      }
      100% {
          /* Final State */
      }
  }

 /*  
    .element {
      animation: [Animation-Name] [Duration] [Timing Function] [Delay] [Iteration Count] [Direction] [Fill Mode] [Play State];
          - Animation-Name: name of the animation
          - Duration: time in seconds | milliseconds
          - Timing Function:
              - ease => Default Value
              - linear
              - ease-in
              - ease-out
              - ease-in-out
              - cubic-bezier(n, n, n, n)
          - Delay: time in seconds | milliseconds
          - Iteration Count: number | infinite
          - Direction:
              - normal => Default Value
              - reverse
              - alternate
              - alternate-reverse
          - Fill Mode:
              - none => Default Value
              - forwards
              - backwards
              - both
          - Play State:
              - running => Default Value
              - paused 
    }
*/