div {
  /* width: 100vw; */
  /* height: 197vh; */
  background-color: red;
  background-image: url("TOM.png");
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: right top;
  /* background-size: contain; */
  /* background-size: cover; */
}

.lorem {
  background-color: blue;
  font-size: 20px;
  color: red;
  height: 100px;
  padding: 20px;
  border: 5px solid black;
  border-radius: 16px;

  /* overflow: visible; */
  overflow: hidden;
  /* overflow: scroll; */
  /* overflow-x: hidden; */
  /* overflow-y: hidden; */

  white-space: nowrap;
  /* word-break: break-all; */

  /* Make Some Dots For A Long Words */
  text-overflow: ellipsis;

  cursor: pointer;
}

.name {
  background-color: green;
  padding: 20px;
  height: 120px;
  font-size: 30px;

  text-align: center;
  /* direction: ltr; */

  vertical-align: bottom;
  /* text-decoration: dotted; */
  text-transform: uppercase;

  letter-spacing: -1px;
  /* word-spacing: -2px; */

  line-height: 1.6;

  cursor: grab;
  /* opacity: 0.5; */
}

/*
04 - 100%
10 - 100%
12 - 100%
17 - 100%
18 - 100%
19 - 100%
22 - 100%
24 - 100%
25 - 100%
26 - 100%
27 - IMPORTANT - 100%
30 - IMPORTANT - 100%
31 - 100%
34 - 100%
35 - 100%
36 - 100%
37 - 100%
41 - 100%
42 - IMPORTANT - 90% -> ease, ease-in, ease-out, ease-in-out.
44 - 100%
*/



