div {
  /* width: 100vw; */
  /* height: 197vh; */
  /* background-color: red;
  background-image: url("TOM.png");
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: right top; */
  /* background-size: contain; */
  /* background-size: cover; */
}

.lorem {
  background-color: blue;
  font-size: 20px;
  color: red;
  height: 100px;
  padding: 20px;
  border: 5px solid black;
  border-radius: 16px;

  /* overflow: visible; */
  overflow: hidden;
  /* overflow: scroll; */
  /* overflow-x: hidden; */
  /* overflow-y: hidden; */

  white-space: nowrap;
  /* word-break: break-all; */

  /* Make Some Dots For A Long Words */
  text-overflow: ellipsis;

  cursor: pointer;
}

.name {
  background-color: green;
  padding: 20px;
  height: 120px;
  font-size: 30px;

  text-align: center;
  /* direction: ltr; */

  vertical-align: bottom;
  /* text-decoration: dotted; */
  text-transform: uppercase;

  letter-spacing: -1px;
  /* word-spacing: -2px; */

  line-height: 1.6;

  cursor: grab;
  /* opacity: 0.5; */
}

/*
04 - 100%
10 - 100%
12 - 100%
17 - 100%
18 - 100%
19 - 100%
22 - 100%
24 - 100%
25 - 100%
26 - 100%
27 - IMPORTANT - 100%
30 - IMPORTANT - 100%
31 - 100%
34 - 100%
35 - 100%
36 - 100%
37 - 100%
41 - 100%
42 - IMPORTANT - 90% -> ease, ease-in, ease-out, ease-in-out.
44 - 100%
*/

/* Flex Box */

/*
    Flexible Box
        For Parent
            - display: flex => To Start Flexible Box
            - display: inline-flex => To Start Flexible Box As Inline
            - flex-direction: row => Default Value
            - flex-wrap: nowrap => Default Value
                - nowrap => Default Value
                - wrap
                - wrap-reverse !IMPORTANT
            - flex-flow: [Flex-Direction] + [Flex-Wrap]
            - Justify-Content: [Flex-Items Horizontal Alignment]
                - flex-start => Default Value
                - flex-end
                - center
                - space-between
                - space-around
                - space-evenly
            - align-items: [Flex-Items Vertical Alignment]
                - flex-start
                - flex-end
                - center
                - baseline
                - stretch => Default Value
            - align-content: [Flex-Lines Vertical Alignment]
                - flex-start
                - flex-end
                - center
                - space-between
                - space-around
                - space-evenly
                - stretch => Default Value

        For Child
            - flex-grow: [Number] => Default Value Is 0
            - flex-shrink: [Number] => Default Value Is 1
            - order: [Number] => Default Value Is 0
            - flex-basis: [Length | auto] => Default Value Is auto
            - flex: [flex-grow] [flex-shrink] [flex-basis]
                - flex: 0 1 auto => Default Value
            - align-self: [auto | flex-start | flex-end | center | baseline | stretch]
                - auto => Default Value    
*/

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
body {
    direction: ltr;
}
/* .flex {
    background-color: #eee;
    width: 600px;
    padding: 20px;
    margin: 20px auto;
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    flex-flow: row wrap;
    justify-content: space-between;
}
.flex div {
    background-color: #f00;
    color: white;
    width: calc(94% / 5);
    text-align: center;
    padding: 20px;
    min-width: 100px;
} */
.flex {
    background-color: #eee;
    width: 800px;
    padding: 20px;
    margin: 20px auto;
    display: flex;
}
.flex div {
    background-color: #f00;
    color: white;
    width: 80px;
    text-align: center;
    padding: 20px;
    margin-right: 5px;
    flex-grow: 1;
}
.float {
    overflow: hidden;
    background-color: #eee;
    width: 600px;
    padding: 20px;
    margin: 20px auto;
}
.float div {
    background-color: #f00;
    float: left;
    color: white;
    width: calc(94% / 3);
    text-align: center;
    padding: 20px;
    margin-left: 1%;
    margin-right: 1%;
}

/* Linear Gradient */
.box {
    background: linear-gradient(to bottom right, red, yellow, green, blue);
    width: 150px;
    height: 150px;
    margin: 10px;
}