* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: white;
  margin: 20px auto;
  background-color: teal;
  padding: 10px 20px;
  display: block;
  width: 120px;
  text-align: center;
  font-size: 30px;
  font-weight: 550;
  font-family: sans-serif;
  border-bottom: 8px solid rgb(189, 64, 64);
}